body{background-color: #37718E;}
p1{
    background-color: #C33C54;
    padding: 4px;
    border: #AEF3E7 2px;
    
}
p2{
    background-color: #C33C54;
    padding: 4px;
    border: #AEF3E7 2px;
    
    
}

input{
    
    margin: 5px 0;
    padding: 2px;
    border: 2px solid #AEF3E7;
    border-radius: 10px;

}
input[type = text], select{
    margin: 5px 0;
    padding: 2px;
    border: 2px solid #AEF3E7;
    border-radius: 10px;
}
input[type = email], select{
    margin-bottom: 40px;
    padding-left: 23px;
    
}
input[type=submit]:hover {
    background-color: #AEF3E7;
}
input[type = reset]{
    color: #C33C54;
    
}

#sel{
    
    text-align: right;

}
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 1em;
    height: 25em; 
    margin-bottom: 3em;
}
